
{% extends 'base.html' %}

{% block content %}
  
<div class="container">
<h1>Refresher</h1>
<p>This chapter is designed to refresh the basic mathematics you will need to complete the other chapters on this site. If you find something you do not understand go and ask for help.</p>

<p>The chapters are:</p>
<ul>
<li>Arithmetic of fractions</li>
<li>Manipulation of expressions involving indices</li>
<li>Removing brackets and factorisation</li>
<li>Arithmetic of algebraic fractions</li>
<li>Surds</li>
<li>Solving linear equations</li>
<li>Transposition of formulae</li>
<li>Solving quadratic equations by factorisation</li>
<li>Solving quadratic equations</li>
<li>Solving some polynomial equations</li>
</ul>


</div>
<br><br>
{% endblock %}
